.contact {
    padding: 104px 0 120px;
    color: #222222;
}

.contact__title {
    font-size: 80px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
}
.contact__title-text_red{
    color: #D10014;
}

.form {
    padding: 60px;
    background-color: #FFFFFF;
    border-radius: 32px;
}

.form__fieldset {
    margin-bottom: 32px;
}

.form__title {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.form__radio-wrapper {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.form__radio-wrapper:last-child{
    margin-bottom: 0;
}

.radio__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radio__label {
    display: block;
    padding: 12px 20px;
    border-radius: 50px;
    background-color: #F0F4F4;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    font-family: Raleway,sans-serif;
    border: 1px solid transparent;
}

.radio__label:hover {
    background-color: #E4F0F0;
}

.radio__input:focus-visible + .radio__label {
    border-color: #D10014;
}

.radio__input:checked + .radio__label {
    background-color: #222222;
    color: #FFFFFF;
}

.form__months {
    margin-bottom: 16px;
    display: flex;
    gap: 16px;
}

.form__months-btn{
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.form__months-btn_active{
    color: #D10014;
    transform: scale(1.1);
}

.form__subtitle{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.form__input-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:8px;
    grid-row-gap: 12px;
    margin-bottom: 32px;
}

.form__input {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #F0F4F4;
    border: 1px solid transparent;
    color:  inherit;
}

.form__input:hover{
    background-color: #F0F4F4;
}

.form__input:focus-visible{
    border-color: #D0D0D0
}


.form__info {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}   

.form__btn-wrapper{
    display: flex;
    gap: 8px;
}

.form__btn {
    padding: 12px 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: #222222;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    border-radius: 50px;
    background-color: #F0F4F4;
}

.form__btn_next {
    background-color: #D10014;
    color: #FFFFFF;
}

.form__btn_submit {
    background-color: #D10014;
    color: #FFFFFF;
}

.form__btn:disabled {
    color:#222222;
    background-color: #F0F4F4;
    opacity: 0.4;
    pointer-events: none;
}

@media(max-width: 1080px){
    .contact{
        padding: 60px 0 120px;
    }
    .contact__title{
        font-size: 60px;
        margin-bottom: 32px;
    }
    .form__title{
        font-size: 24px;
    }
    .form{
        padding: 40px;
    }
}

@media(max-width: 900px){
    .contact{
        padding: 42px 0 100px;
    }
    .contact__title{
        font-size: 48px;
    }
}

@media(max-width: 660px){
    .contact{
        padding: 30px 0 80px;
    }
    .contact__title{
        font-size: 32px;
    }
    .form__fieldset{
        margin-bottom: 24px;
    }
    .form__title{
        margin-bottom: 24px;
    }
    .form__input-wrapper{
        grid-template-columns: 1fr;
        grid-row-gap: 8px;
    }
    .form{
        padding: 24px 16px;
    }
}