.contact {
    padding: 104px 0 120px;
    color: #222222;
}

.contact__title {
    font-size: 80px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
}
.contact__title-text_red{
    color: #D10014;
}

.form {
    padding: 60px;
    background-color: #FFFFFF;
}

.form__fieldset {
    margin-bottom: 32px;
}

.form__title {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.form__radio-wrapper {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.form__radio-wrapper:last-child{
    margin-bottom: 0;
}

.radio__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radio__label {
    display: block;
    padding: 12px 20px;
    border-radius: 50px;
    background-color: #F0F4F4;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    font-family: Raleway,sans-serif;
    border: 1px solid transparent;
}

.radio__label:hover {
    background-color: #E4F0F0;
}

.radio__input:focus-visible + .radio__label {
    border-color: #D10014;
}

.radio__input:checked + .radio__label {
    background-color: #222222;
    color: #FFFFFF;
}

.form__months {
    margin-bottom: 16px;
}

.form__months-btn{
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.form__months-btn_active{
    color: #D10014;
}

.form__subtitle{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.form__months-btn {

}

.form__input-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.form__input {

}

.form__info {

}

.form__info-date {

}

.form__btn {

}

.form__btn_next {

}

.form__btn:disabled {
    color:#222222;
    background-color: #F0F4F4;
    opacity: 0.4;
}